# 1. Compound Data Types
## 1.1. list
* A list is an object that contains multiple data items enclosed in square brakets. 
* Lists are mutable, which means that their contents can be changed during a program’s execution. 
* Lists are dynamic data structures, meaning that items may be added to them or removed from them.
* Lists are _heterogenous_

In [ ]:
["apples", "oranges", "cherries"]

In [ ]:
prod_nums = ['V475', 'F987', 'Q143', 'R688']

In [ ]:
sales_by_month = [250, 180, 360, 340]

In [ ]:
# nested lists
sales_by_season = [[250, 180, 360], [340, 450, 250],[180, 230, 320], [550, 360, 190]]

#### Exercise: Create a list to store your name, age and gender.

In [ ]:
# enter code here

### 1.1.1. Common operations on lists

In [ ]:
len(sales_by_month)

In [ ]:
sales_by_month[1] = 230
sales_by_month

### List Sliceing / Indexing

In [ ]:
sales_by_month[1:3]

### Creating Lists

In [ ]:
# use list() and range() to create lists
a = list(range(2, 20))
a

In [ ]:
a = list(range(2, 20, 2))
a

In [ ]:
a[2:6] # note the stopping position is excluded

In [ ]:
a[2:6:2]

#### Exercise: Create a list of the first twenty positive integers, slice it to find all even numbers.

In [ ]:
# enter code here

### 1.1.2 Other list operations
### Joining Lists

In [ ]:
# joining two lists
sales_by_month = [250, 180, 360, 340]
sales_new = [99, 100, 101, 102] 
sales_by_month += sales_new
sales_by_month

In [ ]:
# use in function to find items in a list
prod_nums = ['V475', 'F987', 'Q143', 'R688']
search = input('Enter a product number: ')
if search in prod_nums:
    print("We found the product")
else:
    print("Product is not found")

### Iterating on a list

In [ ]:
# for loop on a list
print('Month \t','Sales')
i=1
for x in sales_by_month:
    print(i, '\t', x)
    i=i+1

### 1.1.3. List Methods 
A method in python is similar to a function, except it is associated with an object. Unlike a function, methods are called on an object by `Object.method()`. 
1. Use Tab key followed by `object.` to list all methods associated with the object. 
2. Use `Object.method?` to show the key information about the method

### Useful methods for lists

In [ ]:
A = list(range(1,6))
A

In [ ]:
# .append() method to add elements to the end
A.append(30)
A

In [ ]:
# .pop() removes the last element
A.pop()
A

In [ ]:
A.pop(3) # remove the element at position 3
A

In [ ]:
A.remove(2) # find the element 2 and remove it from the list
A

In [ ]:
# .insert() adds an element to a specific position
A.insert(3, 20)
A

In [ ]:
# .sort() to sort the elements in a list
A.sort()
A

### Copying Lists

In [ ]:
A = list(range(1,6))
B = A
C = A.copy()
A[-1] = 20 # change the last element in A to 20
print(B) # the output will show that B has been changed too
print(C) # the list C remains the same

### Exercise:
1. Create a list containing the first twenty positive integers.
2. Create another list containing their squares

In [ ]:
# enter code here

### Exercise - Find the median of a list of numbers
1. Median is the middle value in a **sorted** list of numbers.
2. Hint: Use `.sort()` and indexing

In [ ]:
# enter code here

## 1.2. Tuples
A tuple is a type of sequence that resembles a list, except that, unlike a list, a tuple is immutable (can't be changed). A tuple literal in Python is enclosed in parentheses.

In [ ]:
warehouse = ('Chicago','Philadelphia','San Jose')

## 1.3. Dictionary 
Dictionaries are Python’s implementation of:
1. an associative array
2. a hash table
3. a lookup.

A dictionary consists of a collection of key-value pairs (entries).

A dictionary in Python is a comma-separated list of key-value pairs in curly braces {}. A colon (:) separates each key from its associated value:
```
d = {<key>: <value>,<key>: <value>,..., <key>:<value>}
```

In [ ]:
tel = {"Savannah":"476-3321", "Nathaniel":"351-7743"}

In [ ]:
info = {'name': 'Molly', 'age': 25}

### 1.3.1. Common Dictionary Operations

In [ ]:
# Accessing a value by a key
info['name']

In [ ]:
# Adding a new key, value pair
info['job'] = "Analyst"
info

In [ ]:
# Updating an existing key, value pair
info['name']='Sally'
info

In [ ]:
# Removing a key, value pair
info.pop('name')
info

In [ ]:
del info['name']

In [ ]:
# Iterate through a dictionary
for key in info:
    print(key,':', info[key])

### 1.3.2. Other Dictionary Operations

* `len(d)`: Returns the number of entries in d.
* `d.get(key [, default])`: Returns the value if the key exists or returns the default if the key does not exist. Raises an error if the default is omitted and the key does not exist.
* `list(d.keys())`: Returns a list of the keys.
* `list(d.values())`:Returns a list of the values. 
* `d.clear()`: Removes all entries from a dictionary.

In [ ]:
# Length of the dict
len(info)

In [ ]:
# List of keys in the dictionary
list(info.keys())

In [ ]:
# List of values in the dictionary
list(info.values())

In [ ]:
# Removing the contents of a dict
info.clear()
info

### 1.3.3 Dictionaries for representing data

In [ ]:
import pandas as pd
data = {
    "name": ["BYJU's", "Flipkart", "Shuttl"],
    "industry": ["e-tech", "e-commerce", "transport"],
    "funding (USD)": [200_000_000, 2_500_000_000, 8_048_394]
}
pd.DataFrame(data)

In [ ]:
# alternative

data = [{'name': "BYJU's", 'industry': 'e-tech', 'funding (USD)': 200000000},
        {'name': 'Flipkart', 'industry': 'e-commerce', 'funding (USD)': 2500000000},
        {'name': 'Shuttl', 'industry': 'transport', 'funding (USD)': 8048394}]
pd.DataFrame.from_records(data)

# Exercise:
1. Add a column to this dataset denoting the location (E.g:, Mumbai, Bangalore, Chennai)
2. Add a row to this dataset for PayTM - which is in the e-payments industry, located in Delhi and has received (suppose) a funding of 42 million USD.

In [ ]:
# enter code here