# Looping - Iterables, Collections, Sequences

```python
for element in iterable:
    do_something()
```

## If `iterable` is a list, `element` is a member of that list.

In [ ]:
L = [1, 2, 3]
for i in L:
    print(i)

## If `iterable` is a dictionary, `element` is a key of that dictionary.

In [ ]:
D = {'name': 'Jaidev', 'age': 32, 'sex': 'M'}
for element in D:
    print(element)

## If `iterable` is a string, `element` is a character of that string.

In [ ]:
S = "springboard"
for i in S:
    print(i)

### Debugging Tip: What if we don't know what iteration yields?

In [ ]:
import numpy as np
import pandas as pd

X = np.random.rand(5, 3)
df = pd.DataFrame(X, columns=['col1', 'col2', 'col3'])

### What is the element if iterable is a NumPy array?

In [ ]:
for elem in X:
    break

In [ ]:
elem

In [ ]:
X

### What is the element if iterable is a Pandas dataframe?

In [ ]:
for elem in df:
    break

In [ ]:
elem

In [ ]:
df

### `break` and `continue` statements

In [ ]:
data = [{'name': "BYJU's", 'industry': 'e-tech', 'funding (USD)': 200000000},
        {'name': 'Flipkart', 'industry': 'e-commerce', 'funding (USD)': 2500000000},
        {'name': 'Shuttl', 'industry': 'transport', 'funding (USD)': 8048394}]

### E.g: Find Flipkart's Funding

In [ ]:
for k in data:
    if k['name'] == 'Flipkart':
        break
print(k['funding (USD)'])

### E.g: Find the startups that have a funding of more than 5 Million USD

In [ ]:
data = [
 {'Startup Name': 'Proximit',
  'Industry Vertical': 'Technology',
  'City  Location': 'Pune',
  'Amount in USD': 150000},
 {'Startup Name': 'Fintobox',
  'Industry Vertical': 'Technology',
  'City  Location': 'Chennai',
  'Amount in USD': 7000000},
 {'Startup Name': 'TinyStep',
  'Industry Vertical': 'Consumer Internet',
  'City  Location': 'Bangalore',
  'Amount in USD': 2000000},
 {'Startup Name': 'MobiKwik',
  'Industry Vertical': 'Digital / Mobile Wallet',
  'City  Location': 'Gurgaon',
  'Amount in USD': 25000000},
 {'Startup Name': 'Homergize',
  'Industry Vertical': 'eCommerce',
  'City  Location': 'Bangalore',
  'Amount in USD': 1000000}
]

for k in data:
    if k['Amount in USD'] <= 5000000:
        continue
    else:
        print(k['Startup Name'])

## List Comprehension

```python
[py_expression for element in some_list]
```

In [ ]:
x = range(1, 11)
double_x = [2 * i for i in x]
double_x

```python
[function_call(element) for element in some_list]
```

In [ ]:
x = range(1, 11)

def square(i):
    return i * i

[square(i) for i in x]

## Nested Loops
### E.g. Print `data` as a table

In [ ]:
for record in data:
    row = []
    for key in record:
        row.append(record[key])
    print(row)

## `while` loops

```python
while condition:
    do_something()
```

In [ ]:
import random

In [ ]:
password = random.randint(0, 100)

In [ ]:
guess = 0
password_unknown = True

while password_unknown:
    if guess == password:
        password_unknown = False
    else:
        guess += 1

print(guess)

### `while` with `break`

In [ ]:
password = random.randint(0, 100)

guess = 0
while True:
    if guess == password:
        break
    guess += 1

print(guess)

## Exercise: In the dataset below, find the maximum funding received by a startup located in a non-metro city.

In [ ]:
import pandas as pd
df = pd.read_csv('../data/startup_funding.csv', nrows=100, usecols=['Startup Name', 'City', 'Amount in USD'])

data = df.to_dict(orient='records')
data[:5]

In [ ]:
METROS = ['Bengaluru', 'Gurgaon', 'New Delhi', 'Mumbai', 'Chennai', 'Pune', 'San Francisco', 'San Jose,',
          'Delhi', 'Kormangala', 'Hyderabad', 'Menlo Park', 'Gurugram', 'Palo Alto', 'Santa Monica', 'Singapore',
          'Andheri', 'Chembur']

In [ ]:
# Enter code here
# Hint: Use the `max` function